{% extends 'layouts/base.html' %} {% block content %}
<div>
    <h1>Courses:</h1>
    <div>
        <ul>
            {% for each in courses %}
            <li>
                <h4>{{each.id }} - {{ each.name }}</h4>
                <p>{{each.description}}</p>
                <a href="/courses/{{each.id}}" class="nav-link nav-link-icon">Show</a>
                <a href="/courses/edit/{{each.id}}" class="nav-link nav-link-icon">Edit</a>
                <a href=""class="nav-link nav-link-icon">Delete</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <a href="/courses/new" class="nav-link nav-link-icon">New</a>
</div>
{% endblock %}