{% extends 'layouts/base.html' %} {% block content %}
<div>
  <h1>Classrooms:</h1>
  <div>
    <ul>
      {% for each in classrooms %}
      <li>
        <h4>{{ each.id }} - {{ each.name }}</h4>
        <a href="/courses/{{course_id}}/classrooms/{{each.id}}" class="nav-link nav-link-icon">Mostrar</a>
        <a href="/courses/{{course_id}}/classrooms/edit/{{each.id}}" class="nav-link nav-link-icon">Editar</a>
        <a href="/courses/{{course_id}}/classrooms/delete/{{each.id}}"class="nav-link nav-link-icon">Deletar</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <a href="/courses/{{course_id}}/classrooms/new" class="nav-link nav-link-icon">Novo</a>
</div>
{% endblock %}