{% extends 'layouts/base.html' %} {% block content %}

<main>
  <section class="section section-shaped pt-0 section-fill">
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="row justify-content-center session-brand">
            <a href="/"> 
              <img class="session-brand" src="/static/assets/img/brand/gitpub.png">
            </a>
          </div>
          <div class="row justify-content-center session-brand">
            <h2 class="text-light">GitPub</h2>
          </div>
          <div class="card bg-secondary shadow border-0">
            <div class="card-body px-lg-3 py-lg-3">
              <div class="text-center text-muted mb-4">
                <small>Esqueceu a senha</small>
              </div>
              <form role="form">
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" placeholder="Email" type="email">
                  </div>
                </div>
                <div class="text-center">
                  <button type="button" class="btn btn-primary my-4">Recuperar Senha</button>
                </div>
              </form>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <a href="login" class="text-light">
                <small>Fazer login</small>
              </a>
            </div>
            <div class="col-6 text-right">
              <a href="register" class="text-light">
                <small>Criar conta</small>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}
