{% extends 'layouts/base.html' %} {% block content %}

<main>
  <section class="section-shaped section-fill">
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container pt-lg-md p-4">
      <div class="container pt-lg-md">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="row justify-content-center session-brand">
              <a href="/"> 
                <img class="session-brand" src="/static/assets/img/brand/gitpub.png">
              </a>
            </div>
            <div class="row justify-content-center session-brand">
              <h2 class="text-light">GitPub</h2>
            </div>
            <div class="card bg-secondary shadow border-0">
              <div class="card-body px-lg-3 py-lg-3">
                <div class="text-center text-muted mb-2">
                  <small>Inscreva-se com seus dados</small>
                </div>
                {% if errors is not None %}
            {% for error in errors %}
              <div class="alert alert-danger" role="alert">
                <strong>Ops!</strong> {{ error }}
              </div>
            {% endfor %}
          {% endif %}
                <form role="form" action="/create_user" method="post">
                  {% csrf_token %}
                  <div class="form-group">
                    <div class="input-group input-group-alternative mb-0">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                      </div>
                      <input class="form-control" name="name" placeholder="Nome" type="text">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-alternative mb-0">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-badge"></i></span>
                      </div>
                      <input class="form-control" name="username" placeholder="Username" type="text">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-alternative mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                      </div>
                      <input class="form-control" name="email" placeholder="Email" type="email">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-alternative mb-0">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                      </div>
                      <input class="form-control" name="registry" placeholder="Matrícula" type="text">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                      </div>
                      <input class="form-control" name="password" placeholder="Senha" type="password">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                      </div>
                      <input class="form-control" placeholder="Confirmação da Senha" type="password">
                    </div>
                  </div>
                  <div class="row my-0">
                    <div class="col-8">
                      <div class="custom-control custom-control-alternative custom-checkbox">
                        <input class="custom-control-input" id="customCheckRegister" type="checkbox">
                        <label class="custom-control-label" for="customCheckRegister">
                          <span>Eu concordo com a 
                            <a href="#">Política de Privacidade</a>
                          </span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary mt-3">Criar conta</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-6">
                  <a href="forgot_password" class="text-light">
                  <small>Esqueceu a senha?</small>
                </a> 
              </div>
              <div class="col-6 text-right">
                <a href="login" class="text-light">
                  <small>Já possui conta, entre no GitPub!</small>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}
