{% extends 'layouts/base.html' %} {% block content %}

<main>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-3 mt-3">
        <div class="px-4">
          <div class="row justify-content-center">
            <img src="/static/assets/img/theme/profile.png" class="rounded-circle" style="width:180px; height:180px; align-self:center;">
          </div>
          <div class="text-center mt-5">
            <h3>{{ user.name }}
              <span class="font-weight-light"></span>
            </h3>
            <div class="h6 font-weight-300">{{ user.email }}</div>
            <div class="h6 mt-2">@{{ user.username }}</div>
          </div>
          <div class="mt-4 py-5 border-top text-center">
            <div class="row justify-content-center">
              <div class="col-lg-12">
                <p>{{ user.bio }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-9">
        <div class="nav-wrapper">
          <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
            <li class="nav-item">
              <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-icons-text-1-tab" data-toggle="tab" href="#tabs-icons-text-1" role="tab"
                aria-controls="tabs-icons-text-1" aria-selected="true">
                <i class="ni ni-bell-55 mr-2"></i>
                Disciplinas
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-2-tab" data-toggle="tab" href="#tabs-icons-text-2" role="tab" aria-controls="tabs-icons-text-2"
                aria-selected="false">
                <i class="ni ni-cloud-upload-96 mr-2"></i>
                Projetos
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-3-tab" data-toggle="tab" href="#tabs-icons-text-3" role="tab" aria-controls="tabs-icons-text-3"
                aria-selected="false">
                <i class="ni ni ni-settings-gear-65 mr-2"></i>
                Configurações
              </a>
            </li>
          </ul>
        </div>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
            <div class="container">
              <div class="row">
                {% if user.is_staff %}
                <div class="col-12">
                  <a href="/courses/new" class="btn btn-success btn-lg btn-block mt-4">Criar Disciplina</a>
                </div>
                {% endif %} {% for course in courses %}
                <div class="col-6">
                  <div class="card shadow my-3">
                    <div class="card-body ">
                      <h6 class="text-primary text-uppercase">{{ course.name }}</h6>
                      <p class="description mt-3">{{course.description}}</p>
                      <div>
                        <span class="badge badge-pill badge-primary">Ofertas: {{ course.number_of_classrooms }}</span>
                        <span class="badge badge-pill badge-primary">Projetos: {{ course.number_of_projects }}</span>
                      </div>
                      <a href="/courses/{{course.id}}" class="btn btn-primary btn-sm mt-4">Explorar</a>
                      {% if user.is_staff %}
                      <a href="/courses/edit/{{course.id}}" class="btn btn-primary btn-sm mt-4">Editar</a>
                      <a href="/courses/delete/{{course.id}}" class="btn btn-danger btn-sm mt-4">Deletar</a>
                      {% endif %}

                    </div>
                  </div>
                </div>
                <!-- <h4>{{each.id }} - {{ each.name }}</h4> -->
                {% endfor %}

              </div> <!--  End Row -->
            </div>
          </div>
          <div class="tab-pane fade mt-3" id="tabs-icons-text-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">
            <ul class=" list-unstyled"></ul>
              {% for classroom in classrooms %}
                {% if user in classroom.enrolled_users.all %}                  
                  {% for project in classroom.projects.all %}
                    <li class="media border-bottom">
                      <div class="media-body text-justify mb-3">
                        <h5 class="mt-1 mb-1">{{ project.name }} </h5>
                          {{ project.description }}
                      </div>
                    </li>
                  {% endfor %}
                {% endif %}
              {% endfor %}
            </ul> 
          </div>
          <div class="tab-pane fade" id="tabs-icons-text-3" role="tabpanel" aria-labelledby="tabs-icons-text-3-tab">
            <div class="container">
              <div class="card card-profile shadow mt-4">
                <div class="px-4">
                  <div class="row justify-content-center">
                    <div class="col-lg-12 mt-2">
                      <h3>Editar Perfil</h3>
                      <form method="post" action="/update_user">
                        {% csrf_token %}
                        <div class="form-group">
                          <span class="mb-4">Nome</span>
                          <input type="text" class="form-control" placeholder="" name="name" value="{{ user.name }}">
                        </div>
                        <div class="form-group">
                          <span class="mb-4">Username</span>
                          <input type="text" class="form-control" placeholder="" name="username" value="{{ user.username }}">
                        </div>
                        <div class="form-group">
                          <span class="mb-4">Email</span>
                          <input type="email" class="form-control" placeholder="name@example.com" name="email" value="{{ user.email }}">
                        </div>
                        <div class="form-group">
                          <span class="mb-4">Matrícula</span>
                          <input type="text" class="form-control" placeholder="" name="registry" value="{{ user.registry }}">
                        </div>

                        {% if user.is_superuser %}
                        <div class="form-group">
                          <span class="mb-4">Cargo</span>
                          <input type="text" class="form-control" placeholder="Administador" disabled="">
                        </div>
                        {% elif user.is_staff %}
                        <div class="form-group">
                          <span class="mb-4">Cargo</span>
                          <input type="text" class="form-control" placeholder="Professor" disabled="">
                        </div>   
                        {% else %}
                        <div class="form-group">
                          <span class="mb-4">Cargo</span>
                          <input type="text" class="form-control" placeholder="Aluno" disabled="">
                        </div>           
                        {% endif %}

                        <span class="mb-4">Biografia</span>
                        <div class="form-group"></div>
                        <textarea class="form-control" id="" rows="6" name="bio" placeholder="Escreva sua biografia aqui ...">{{ user.bio }}</textarea>
                    </div>
                    <button type="button" class="btn btn-block btn-primary mt-4" data-toggle="modal" data-target="#modal-default">Salvar</button>
                    <div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
                      <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h6 class="modal-title" id="modal-title-default">Edição de Perfil</h6>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">×</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <p>Deseja realmente salvar as alterações sobre o seu perfil?</p>
                          </div>
                          <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Salvar</button>
                            <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Fechar</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="mt-5 py-5 border-top text-center">
                      <div class="row justify-content-center">
                        <div class="col-lg-12">
                        </div>
                      </div>
                    </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</main>

{% endblock %}