{% extends 'layouts/base.html' %} {% block content %}

<header class="header-global">
  <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom">
    <div class="container">
      <a class="navbar-brand mr-lg-5" href="/">
        <img src="/static/assets/img/brand/gitpub.png">
      </a>
      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="#" target="_blank" data-toggle="tooltip" title="Like us on Facebook">
            <i class="fa fa-facebook-square"></i>
            <span class="nav-link-inner--text d-lg-none">Facebook</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="#" target="_blank" data-toggle="tooltip"
            title="Follow us on Instagram">
            <i class="fa fa-instagram"></i>
            <span class="nav-link-inner--text d-lg-none">Instagram</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="#" target="_blank" data-toggle="tooltip" title="Follow us on Twitter">
            <i class="fa fa-twitter-square"></i>
            <span class="nav-link-inner--text d-lg-none">Twitter</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://github.com/Desenho2018-2/GitPub" target="_blank" data-toggle="tooltip"
            title="Star us on Github">
            <i class="fa fa-github"></i>
            <span class="nav-link-inner--text d-lg-none">Github</span>
          </a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item d-none d-lg-block ml-lg-4">
          <a href="dashboard" target="" class="btn btn-neutral btn-icon">
            <span class="btn-inner--icon">
              <i class="fa fa-address-card"></i>
            </span>
            <span class="nav-link-inner--text">My Dashboard</span>
          </a>
        </li>
        <li class="nav-item d-none d-lg-block ml-lg-4">
          <a href="logout" target="" class="btn btn-neutral btn-icon">
            <span class="btn-inner--icon">
              <i class="fa fa-sign-out"></i>
            </span>
            <span class="nav-link-inner--text">Sair</span>
          </a>
        </li>
        {% else %}
        <li class="nav-item d-none d-lg-block ml-lg-4">
          <a href="login" target="" class="btn btn-neutral btn-icon">
            <span class="btn-inner--icon">
              <i class="fa fa-user mr-2"></i>
            </span>
            <span class="nav-link-inner--text">Entrar</span>
          </a>
        </li>
        <li class="nav-item d-none d-lg-block ml-lg-4">
          <a href="register" target="" class="btn btn-neutral btn-icon">
            <span class="btn-inner--icon">
              <i class="fa fa-user-plus mr-2"></i>
            </span>
            <span class="nav-link-inner--text">Inscreva-se</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
    </div>
  </nav>
</header>
<main>
  <div class="position-relative">
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="flex-container">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="display-3 text-white">Construído por desenvolvedores para desenvolvedores da Universidade de Brasília
                <span></span>
              </h1>
              <p class="lead text-white">O GitPub é uma aplicação web desenvolvida por estudantes de Engenharia de Software da Universidade de Brasília - UnB, que visa auxiliar o gerenciamento de projetos de software dentro das disciplinas da universidade.</p>
              <a href="/courses" class="btn btn-lg btn-secondary btn-block mt-4">Explorar</a>
            </div>
          </div>
        </div>
        <div class="signup">
          <div class="card bg-secondary shadow border-0">
            {% if not user.is_authenticated %}
            <div class="card-body px-lg-5 py-lg-2">
              <div class="text-center text-muted mb-2">
                <small>Inscreva-se</small>
              </div>
	      {% if errors %}
              		{% for error in errors %}
                		<div class="alert alert-danger" role="alert">
                        		<strong>Ops!</strong> {{ error }}
                        	</div>
                        {% endfor %}
              {% endif %}
              <form role="form" class="mb-2" action="/create_user" method="post">
                {% csrf_token %}
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-0">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                    </div>
                    <input class="form-control" name="name" placeholder="Nome" type="text">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-0">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-badge"></i></span>
                    </div>
                    <input class="form-control" name="username" placeholder="Username" type="text">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" name="email" placeholder="Email" type="email">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-0">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                    </div>
                    <input class="form-control" name="registry" placeholder="Matrícula" type="text">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control" name="password" placeholder="Senha" type="password">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control" placeholder="Confirmação da Senha" type="password">
                  </div>
                </div>
                <div class="row my-0">
                  <div class="col-8">
                    <div class="custom-control custom-control-alternative custom-checkbox">
                      <input class="custom-control-input" id="customCheckRegister" type="checkbox">
                      <label class="custom-control-label" for="customCheckRegister">
                        <span>Eu concordo com a
                          <a href="#">Política de Privacidade</a>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary mt-3 btn-lg btn-block">Criar conta</button>
                </div>
              </form>
            </div>
            {% endif %}
          </div>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
    </section>
    <!-- 1st Hero Variation -->
    </div>
    <section class="section section-lg pt-lg-0 mt--200">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="row row-grid">
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div class="icon icon-shape icon-shape-info rounded-circle mb-4">
                      <i class="ni ni-laptop"></i>
                    </div>
                    <h6 class="text-info text-uppercase">Sobre o repositório</h6>
                    <p class="description mt-3">A aplicação consiste em um repositório para projetos que são desenvolvidos no decorrer das disciplinas da UnB e que na maioria das vezes são perdidos por falta de um local apropriado para expor o que foi desenvolvido pelos alunos e como resultado a Universidade perde a oportunidade de possuir um portfólio com projetos de qualidade.</p>
                    <div>
                      <span class="badge badge-pill badge-info">UnB</span>
                      <span class="badge badge-pill badge-info">projects</span>
                      <span class="badge badge-pill badge-info">Students</span>
                    </div>
                    <a href="#" class="btn btn-info mt-4">Learn more</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                      <i class="ni ni-istanbul"></i>
                    </div>
                    <h6 class="text-success text-uppercase">Compartilhe projetos universitários</h6>
                    <p class="description mt-3">O GitPub é um ótimo repositório para versionamento de projetos desenvolvidos na Universidade de Brasília que oferece maior confiabilidade para que os alunos possam enviar e arquivar seus projetos desenvolvidos em disciplinas ministradas na universidade inseridas em disciplinas criadas pelos professores responsáveis.
                    </p>
                    <div>
                      <span class="badge badge-pill badge-success">Repository</span>
                      <span class="badge badge-pill badge-success">Disciplines</span>
                      <span class="badge badge-pill badge-success">University</span>
                    </div>
                    <a href="#" class="btn btn-success mt-4">Learn more</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                  <div class="card card-lift--hover shadow border-0">
                    <div class="card-body py-5">
                      <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                        <i class="ni ni-spaceship"></i>
                      </div>
                      <h6 class="text-warning text-uppercase">Contribua conosco</h6>
                      <p class="description mt-3">e você é um estudante da Universidade de Brasília e está iniciando um novo projeto inserido no contexto de uma disciplina ministrada na universidade não perca tempo e comece já a contribuir com nosso repositório. Você é parte disso!</p>
                      <div>
                        <span class="badge badge-pill badge-warning">marketing</span>
                        <span class="badge badge-pill badge-warning">product</span>
                        <span class="badge badge-pill badge-warning">launch</span>
                      </div>
                      <a href="#" class="btn btn-warning mt-4">Learn more</a>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section bg-secondary">
      <div class="container">
        <div class="row row-grid align-items-center">
          <div class="col-md-6">
            <div class="card bg-default shadow border-0">
              <img src="../static/assets/img/theme/projects.png" class="card-img-top">
            </div>
          </div>
          <div class="col-md-6">
            <div class="pl-md-5">
              <div class="icon icon-lg icon-shape icon-shape-secondary shadow rounded-circle mb-5">
                <i class="ni ni-settings"></i>
              </div>
              <h3>Bem vindo ao lar, desenvolvedores da Universidade de Brasília</h3>
              <p class="lead">O Gitpub oferece maior conveniência para buscar projetos e / ou disciplinas ministradas na instituição, bem como a visualização de projetos de outros alunos que foram submetidos ao repositório e envio de mensagens para outros usuários.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section pb-0 bg-gradient-info">
      <div class="container">
        <div class="row row-grid align-items-center">
          <div class="col-md-6 order-lg-2 ml-lg-auto">
            <div class="position-relative pl-md-5">
              <img src="../static/assets/img/ill/ill-2.svg" class="img-center img-fluid">
            </div>
          </div>
          <!-- SVG separator -->
          <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
          </div>
    </section>
    <section class="section section-lg">
      <div class="container">
        <div class="row justify-content-center text-center mb-lg">
          <div class="col-lg-8">
            <h2 class="display-3">Time de desenvolvimento</h2>
            <p class="lead text-muted">A plataforma Gitpub foi desenvolvida por alunos de graduação da Universidade de Brasília, Faculdade do Gama, no que se refere à entrega do produto para a disciplina de Desenho e Arquitetura de Software ministrada pela professora Milene Serrano.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
            <div class="px-4">
              <img src="../static/assets/img/theme/arthur.jpeg" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;">
              <div class="pt-4 text-center">
                <h5 class="title">
                  <span class="d-block mb-1">Arthur Diniz</span>
                  <small class="h6 text-muted">-</small>
                </h5>
                <div class="mt-3">
                  <a href="#" class="btn btn-warning btn-icon-only rounded-circle">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="#" class="btn btn-warning btn-icon-only rounded-circle">
                    <i class="fa fa-facebook"></i>
                  </a>
                  <a href="#" class="btn btn-warning btn-icon-only rounded-circle">
                    <i class="fa fa-dribbble"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
            <div class="px-4">
              <img src="../static/assets/img/theme/ziegler.jpeg" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;">
              <div class="pt-4 text-center">
                <h5 class="title">
                  <span class="d-block mb-1">Gabriel Ziegler</span>
                  <small class="h6 text-muted">-</small>
                </h5>
                <div class="mt-3">
                  <a href="#" class="btn btn-primary btn-icon-only rounded-circle">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="#" class="btn btn-primary btn-icon-only rounded-circle">
                    <i class="fa fa-facebook"></i>
                  </a>
                  <a href="#" class="btn btn-primary btn-icon-only rounded-circle">
                    <i class="fa fa-dribbble"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
            <div class="px-4">
              <img src="../static/assets/img/theme/joao.jpeg" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;">
              <div class="pt-4 text-center">
                <h5 class="title">
                  <span class="d-block mb-1">João Carlos</span>
                  <small class="h6 text-muted">-</small>
                </h5>
                <div class="mt-3">
                  <a href="#" class="btn btn-info btn-icon-only rounded-circle">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="#" class="btn btn-info btn-icon-only rounded-circle">
                    <i class="fa fa-facebook"></i>
                  </a>
                  <a href="#" class="btn btn-info btn-icon-only rounded-circle">
                    <i class="fa fa-dribbble"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
            <div class="px-4">
              <img src="../static/assets/img/theme/victor.jpeg" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;">
              <div class="pt-4 text-center">
                <h5 class="title">
                  <span class="d-block mb-1">Victor Moura</span>
                  <small class="h6 text-muted">-</small>
                </h5>
                <div class="mt-3">
                  <a href="#" class="btn btn-success btn-icon-only rounded-circle">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="#" class="btn btn-success btn-icon-only rounded-circle">
                    <i class="fa fa-facebook"></i>
                  </a>
                  <a href="#" class="btn btn-success btn-icon-only rounded-circle">
                    <i class="fa fa-dribbble"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
            <div class="px-4">
              <img src="/static/assets/img/theme/titi.jpeg" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;">
              <div class="pt-4 text-center">
                <h5 class="title">
                  <span class="d-block mb-1">Thiago Araujo</span>
                  <small class="h6 text-muted">-</small>
                </h5>
                <div class="mt-3">
                  <a href="#" class="btn btn-success btn-icon-only rounded-circle">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="#" class="btn btn-success btn-icon-only rounded-circle">
                    <i class="fa fa-facebook"></i>
                  </a>
                  <a href="#" class="btn btn-success btn-icon-only rounded-circle">
                    <i class="fa fa-dribbble"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
            <div class="px-4">
              <img src="/static/assets/img/theme/vitor.jpeg" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;">
              <div class="pt-4 text-center">
                <h5 class="title">
                  <span class="d-block mb-1">Vitor Falcão</span>
                  <small class="h6 text-muted">-</small>
                </h5>
                <div class="mt-3">
                  <a href="#" class="btn btn-success btn-icon-only rounded-circle">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="#" class="btn btn-success btn-icon-only rounded-circle">
                    <i class="fa fa-facebook"></i>
                  </a>
                  <a href="#" class="btn btn-success btn-icon-only rounded-circle">
                    <i class="fa fa-dribbble"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
            <div class="px-4">
              <img src="/static/assets/img/theme/kamilla.png" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;">
              <div class="pt-4 text-center">
                <h5 class="title">
                  <span class="d-block mb-1">Kamilla Costa</span>
                  <small class="h6 text-muted">-</small>
                </h5>
                <div class="mt-3">
                  <a href="#" class="btn btn-success btn-icon-only rounded-circle">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="#" class="btn btn-success btn-icon-only rounded-circle">
                    <i class="fa fa-facebook"></i>
                  </a>
                  <a href="#" class="btn btn-success btn-icon-only rounded-circle">
                    <i class="fa fa-dribbble"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
            <div class="px-4">
              <img src="/static/assets/img/theme/romeu.jpeg" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;">
              <div class="pt-4 text-center">
                <h5 class="title">
                  <span class="d-block mb-1">Romeu Carvalho</span>
                  <small class="h6 text-muted">-</small>
                </h5>
                <div class="mt-3">
                  <a href="#" class="btn btn-success btn-icon-only rounded-circle">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="#" class="btn btn-success btn-icon-only rounded-circle">
                    <i class="fa fa-facebook"></i>
                  </a>
                  <a href="#" class="btn btn-success btn-icon-only rounded-circle">
                    <i class="fa fa-dribbble"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</main>
{% endblock %}
