<form action="{% url 'courses:create_course_form_post' %}" method="post">
    {% csrf_token %}
    <div>
        <div>
            <input required placeholder="Nome Completo" type="text" name="user_first_name">
        </div>
        <div>
            <div>
                <input required placeholder="Email" type="text" name="user_email">
            </div>
        </div>
        <input type="hidden" name="extra_information" value="This is hidden information">
        <div>
            <input type="submit" value="Enviar">
        </div>
    </div>
</form>